.landing{
    background-image: url('../../assets/images/landingpage.png');
    background-size: cover;
    background-position:top;
    /* -webkit-box-shadow: -18px -14px 42px 1px rgba(148,151,153,0.47);
-moz-box-shadow: -18px -14px 42px 1px rgba(148,151,153,0.47);
box-shadow: -18px -14px 42px 1px rgba(148,151,153,0.47); */
border-top-left-radius: 20px;
}




  