/* From Uiverse.io by kennyotsu */ 
.dotBackground{

    /* Add your background pattern here */
    background-color: #000;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 1px, transparent 0);
    background-size: 17.2px 17.2px;
    background-position: -5px -5px
  }