
.seprator{
    position:relative;
    margin: 25px 0;
    width: 100%;
    color: #FEFEFA;
    font-weight: 500;

}
.seprator::after{
    content: '';
    width: 10vw;
    height: 1px;
    background-color: #f7f7f7a6;
    display: block;
    
    position: absolute;
    left: 25px;
    top: 50%;

}
.seprator::before{
    content: '';
    width: 10vw;
    height:1px;
    background-color: #f7f7f7a6;
    display: block;
    position: absolute;
    right: 25px;
    bottom: 50%;
}
.progress{
    content: "";
    background:#fff;
    width: 20px;
    height: 20px;
    border-radius: 18px;
}